# 🌐 Configuración del Servidor Express
PORT=3000
NODE_ENV=development

# 🍃 Configuración de MongoDB
MONGO_ROOT_USER=root
MONGO_ROOT_PASSWORD=example123
MONGO_DB_NAME=express_core_db
MONGO_PORT=27017

# 🔗 URI de conexión (Usa 'mongodb' si estás en Docker o 'localhost' si estás en Windows)
MONGO_URI=mongodb://root:example123@mongodb:27017/express_core_db?authSource=admin
